{{!< layout}}

<div class="grid">
	<div class="page-error">
		<h1>500</h1>
		<h2>Something blew up! We're terribly sorry for this and will do out best to fix it as fast as possible :)</h2>
	</div>
</div>
