{{!< layout}}

<div class="grid">
	<div class="page-error">
		<h1>500</h1>
		<h2>Something blew up! Please let us <a href="/contact">know</a> about this so that it never happens again :)</h2>
	</div>
</div>
