{{!< layout}}

<div class="main module grid">
	<header class="main-header"><h2>Edit chore</h2></header>
	<div class="col-1-2">
		<div class="add-chore">
			<div class="module">
				<form action="/{{user}}/chores/{{chore._id}}" method="POST">
					<input type="hidden" name="_method" value="PUT">
					<label for="title">Title</label>
					<input id="title" name="title" type="text" value="{{chore.name}}">

					<label>Risk</label>

					<label class="radio-label" for="prio-1">1 (50 p)</label>
					<input type="radio" id="prio-1" name="prio" value="1">

					<label class="radio-label" for="prio-2">2 (75 p)</label>
					<input type="radio" id="prio-2" name="prio" value="2">

					<label class="radio-label" for="prio-3">3 (100 p)</label>
					<input type="radio" id="prio-3" checked="checked" name="prio" value="3">

					<label class="radio-label" for="prio-4">4 (150 p)</label>
					<input type="radio" id="prio-4" name="prio" value="4">

					<label class="radio-label" for="prio-5">5 (300 p)</label>
					<input type="radio" id="prio-5" name="prio" value="5">

					<input class="btn btn-add" type="submit" value="Save changes">
				</form>
			</div>
		</div>
	</div>

	<div class="col-1-2">
		<ol class="instructions">
			<li>Add a title for your chore</li>
			<li>
				Choose a risk for you chore. A score and duedate will be calculated depending on the risk you pick.
				The higher the risk the greater the reward.
			</li>
			<li>Complete your chore before the deadline and gain the reward.</li>
		</ol>
	</div>
</div>