{{!< layout}}

<div class="main module single-col">
	{{#if messages.expired}}
		<span class="info-message">{{messages.expired}} <a class="close-message" href="#"><span class="icon-close"></span></a></span>
	{{/if}}
	<h1>Forgot your password?</h1>

	<p>Enter your email below and instructions on how to reset your password will be sent to you.</p>

	<form action="/forgot" method="POST">
		<label for="email">Email</label>
		<span class="email-error error">{{messages.email.msg}}</span>
		<span class="error">{{messages.exists}}</span>
		<span class="success">{{messages.success}}</span>
		<input type="email" class="validate" id="email" name="email">
		<button class="btn btn-reset">Submit</button>
	</form>

</div>