{{!< layout}}

<div class="main module single-col login-wrap">
	{{#if error}}
		<span class="info-message">Username or password incorrect<a class="close-message" href="#"><span class="icon-close"></span></a></span>
	{{/if}}

	<h1>Log in</h1>
	<form action="/login" method="POST">
		<input id="tz" type="hidden" name="timeZone">
		<label for="username">Username</label>
		<input type="text" id="username" value="{{username}}" name="username">

		<label for="password">Password</label>
		<input type="password" id="password" name="password">

		<button class="btn login">Log in</button>
	</form>
	<a href="/forgot">Forgot your password?</a>
</div>