{{!< layout}}

<div class="main module grid">
	<header class="main-header">
		<h1>Add new chore</h1>
	</header>
	<div class="col-1-2">
		<div class="add-chore">
			<div class="module">
				<form action="/{{user}}/chores/new" method="POST">
					<label for="title">Title</label>
					<span class="error">{{messages.title.msg}}</span>
					<input id="title" name="title" type="text">

					<label>Risk</label>

					<label class="radio-label" for="prio-low">Low</label>
					<input type="radio" id="prio-low" name="prio" value="Low">

					<label class="radio-label" for="prio-medium">Medium</label>
					<input type="radio" id="prio-medium" checked="checked" name="prio" value="Medium">

					<label class="radio-label" for="prio-high">High</label>
					<input type="radio" id="prio-high" name="prio" value="High">

					<input class="btn btn-add" type="submit" value="Add chore">
				</form>
			</div>
		</div>
	</div>

	<div class="col-1-2">
		<ol class="instructions">
			<li>Add a title for your chore</li>
			<li>
				Choose a risk for you chore. A score and duedate will be calculated depending on the risk you pick.
				The higher the risk the greater the reward.
			</li>
			<li>Complete your chore before the deadline and gain the reward.</li>
		</ol>
	</div>
</div>