// Partials
@import "mixins";
@import "fonts";
@import "normalize";
@import "simplegrid";

// Colors
$red: #B72D16;
$grey: #556270;
$blueGrey: #395875;
$blue: #4DA9CD;
$lightBlue: #F0F7FA;
$green: #74B152;
$lightGreen: #8ECB6C;
$orange: #D24D33;

/* ----------------------------------------------------------------
 *  ￼ General
 * ----------------------------------------------------------------
*/
	html {
		min-height: 100%;
		position: relative;
	}

	body {
		color: black;
		font-size: 16px;
		font-family: $body;
		font-weight: 400;
		background-color: #F0F0ED;
		padding-bottom: 100px;

	}

	.wrapper {
		margin: 20px 0;
		padding: 0 10px;
	}

	.main {
		background-color: white;
		border-radius: 3px;
		border: 1px solid rgba(0, 0, 0, .1);
	}

	.left {
		float: left;
	}

	.error {
		color: $red;
	}

	.success {
		color: $green;
	}

	.info-message {
	    display: block;
	    background: #F8ECC9;
	    margin: 10px 0;
	    padding: 3px;
	    border-radius: 3px;
	    border: 1px solid $grey;
	    color: $grey;

	    a {
	    	color: $grey;
	    	padding-top: 3px;
	    	font-size: .9em;
	    	padding-left: 5px;
	    	float: right;
	    }
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.module {
		padding: 10px;
	}

	.hidden {
		display: none;
		visibility: hidden;
	}

	img {
		display: block;
	}

	.clearfix {
		overflow: hidden; // Add better clearfix
	}

	.header, .footer {
		background-color: white;
	}

	.bg-overlay {
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	left: 0;
    	background-color: rgba(0,0,0,.5);
    	z-index: 1;
	}

	.border-strip {
	    height: 3px;
	    width: 20%;
	    float: left;
	    display: inline-block;
	}

	.stripe-1 {
		background-color: $red;
	}

	.stripe-2 {
		background-color: $green;
	}

	.stripe-3 {
		background-color: $blue;
	}

	.stripe-4 {
		background-color: $grey;
	}

	.stripe-5 {
		background-color: #E08E79;
	}

/* ----------------------------------------------------------------
 *  ￼ Typo
 * ----------------------------------------------------------------
*/
	h1, h2, h3, h4 {
		font-family: $headings;
		margin-top: 0;
		font-weight: normal;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.3em;
	}

	h4 {
		font-family: $bodyBold;
		font-size: 1.2em;
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		color: $blue;

		&:hover {
			color: $red;
		}
	}

	.active {
	   	color: $red !important;

	   	&:hover {
	   		color: $red;
	   	}
	}

	[class*='icon-'] {
		padding-right: 5px;
	}
/* ----------------------------------------------------------------
 *  ￼ Buttons
 * ----------------------------------------------------------------
*/
	.btn {
		display: inline-block;
		padding: 5px 10px;
		border-radius: 3px;
		color: white;
		text-align: center;

		&:hover {
			color: white;
		}
	}

	.task-done, .register, .logout, .btn-reset, .btn-remove, .btn-cancel {
		background-color: $orange;

		&:hover {
			background-color: #E45F45;
		}
	}

	.btn-add, .btn-edit, .new-chore, .btn-menu  {
		background-color: $blue;

		&:hover {
			background-color: #67C3E7
		}
	}

	.btn-chores {
		background-color: $grey;

		&:hover {
			background-color: $blueGrey;
		}
	}

	.login, .btn-save, .btn-badges {
		background-color: $green;

		&:hover {
			background-color: $lightGreen;
		}
	}

/* ----------------------------------------------------------------
 *  ￼ Alert
 * ----------------------------------------------------------------
*/
	.module-alert, .badge-module-alert {
		width: 500px;
	    background-color: white;
	    position: fixed;
	    top: 150px;
	    border-radius: 3px;
	    z-index: 200;

	    img {
	    	width: 150px;
	    }

	    .badgeTitle {
		    float: right;
			margin: 52px 42px 0 0;
			display: block;
			color: $red;
			width: 271px;
			text-align: center;
		}

		.btn {
			float: right;
			margin-right: 5px;
		}

		h3 {
			font-family: $body;
			font-size: 1.2em;
			margin-bottom: 5px;
			float: left;
			color: $blueGrey;
		}

		.close, .close-badge-alert {
			float: right;
			color: $blueGrey;
			margin-top: 5px;

			&:hover {
				color: $red;
			}
		}
	}

	.module-alert-main {
		margin: 10px 0;
	}
	.module-alert-header, .module-alert-footer {
		background-color: #F0F0ED;
	}

	.module-alert-header {
		border-bottom: 1px solid #ccc;
		border-radius: 3px 3px 0 0;
		min-height: 30px;
	}

	.module-alert-footer {
		border-top: 1px solid #ccc;
		border-radius: 0 0 3px 3px;
		height: 50px;
	}
/* ----------------------------------------------------------------
 *  ￼ Forms
 * ----------------------------------------------------------------
*/
	form {
		margin-bottom: 20px;
	}

	fieldset {
		margin-bottom: 20px;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		border-radius: 5px;
		margin: 0;
		width: 100%;
		height: 40px;
		max-width: 100%;
		display: block;
		margin: 10px 0 20px 0;
		background: #fff;
	}

	input[type="password"] {
		font-family: 'Helvetica', sans-serif;
	}

	select {
		padding: 0;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2);
	}

	button {
		background: none;
		border:  none;
	}

	label,
	legend {
		font-size: 1.3em;
		margin-bottom: 10px;
		display: block;
		color: #337394;
		//font-family: $headings;
	}

	.radio-label {
		font-size: inherit;
		font-family: inherit;
		display: inline;
	}

	input[type="radio"] {
		display: inline;
		margin-right: 20px;
	}

	input[type="submit"] {
		border: none;
		margin-top: 20px;
	}


/* ----------------------------------------------------------------
 *  ￼ Register
 * ----------------------------------------------------------------
*/
	.register-form, .login-wrap {
		label {
			font-size: 1.1em;
		}
	}

/* ----------------------------------------------------------------
 *  ￼ Log in
 * ----------------------------------------------------------------
*/

	.login-box {
		width: 350px;

		p {
			margin-top: 0;
		}

		form {
			margin: 0;
		}

		label {
			font-size: .99em;
			display: block;
		}

		input {
			display: block;
			border-radius: 3px;
			font-size: .99em;
		}
	}
/* ----------------------------------------------------------------
 *  ￼ Header
 * ----------------------------------------------------------------
*/
	.header {
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
	}

	.logo {
		color: black;
		float: left;
		font-size: 2em;
	}

	.nav {
		float: right;

		li {
			list-style: none;
			float: left;
			margin-right: 10px;
		}
	}

	.main-nav {
		padding-top: 7px;
		position: relative;

		.username {
			vertical-align: middle;
			font-size: 1.1em;
			padding-right: 10px;
			margin-right: 10px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 10px;
				right: -5px;
				@include triangle(down, $blue, .3em);
			}

			&:hover:after {
				@include triangle(down, $red, .3em);
			}
		}
	}

	.user-subnav {
		position: absolute;
		background-color: white;
		box-shadow: 0 0 6px 3px rgba(225, 225, 225, .6);
		border: 1px solid #ccc;
		border-radius: 3px;
		top: 50px;
		left: -10px;
		z-index: 200;

		li {
			float: none;
			margin: 5px 0;
		}

		a {
			color: $grey;
			display: block;
			padding: 5px 18px;

			&:hover {
				background-color: $blue;
				color: white;
			}
		}
	}

/* ----------------------------------------------------------------
 *  ￼ Landingpage
 * ----------------------------------------------------------------
*/
	.bg {
		background: url('../img/sunset3.jpg') center center;
	}

	.features {
		background: #F9F9F9;
		border-radius: 3px;
		margin-top: 20px;

		h2 {
			text-align: center;
			margin-top: 10px;

			&:before {
				border-radius: 50%;
				padding: 10px;
				color: white;
				text-align: center;
				font-size: .9em;
				margin-right: 15px;
			}
		}

		.feature-chore:before {
			content: '\e004';
			background-color: $green;
		}

		.feature-reward:before {
			content: '\e005';
			background-color: $blue;
		}

		.feature-badge:before {
			content: '\e01c';
			background-color: $orange;
		}

		p {
			font-size: 1.1em;
			text-align: center;
		}

		.btn-big {
		    padding: 15px;
		    font-size: 1.3em;
		    margin: 30px auto 0 auto;
		    display: block;
		    width: 270px;
		}
	}

	.feature-item {
		border-left: 1px solid #ddd;
		padding-left: 10px;
		height: 144px;
	}

	.feature-item:first-child {
		border-left: none;
	}

	.slogan {
		font-size: 3.5em;
		color: white;
		text-align: center;
	}
/* ----------------------------------------------------------------
 *  ￼ Toolbar
 * ----------------------------------------------------------------
*/
	.toolbar {
		margin-bottom: 30px;
	}

	.new-chore {
		float: right;
	}

	.points {
	  display: inline-block;
	  background: white;
	  padding: 4px;
	  font-size: 1.1em;
	  border-radius: 3px;
	  border: 1px solid #ccc;
	  color: $red;
	  float: right;
	  margin-right: 10px;
	}

	.toolbar-menu {
	    @include gradient(#FEFEFE, top, #FEFEFE, #F5F5F5);
	    border-radius: 3px;
	    border: 1px solid #ccc;
	    display: inline-block;

	    a {
	    	color: $grey;

	    	&:hover {
	    		color: $blue;
	    	}
	    }

	    li {
	    	float: left;
	    	padding: 5px 10px;
	    	border-right: 1px solid #ccc;
	    	position: relative;

	    	&:last-child {
	    		border-right: none;
	    	}
	    }
	}


/* ----------------------------------------------------------------
 *  ￼ Chore
 * ----------------------------------------------------------------
*/

	[class*='risk-'] {
		border: 1px solid #ccc;
	}

	.risk-1 {
		border-top: 3px solid $green;
	}

	.risk-2 {
		border-top: 3px solid $blue;
	}

	.risk-3 {
		border-top: 3px solid $grey;
	}

	.risk-4 {
		border-top: 3px solid #D8937D;
	}

	.risk-5 {
		border-top: 3px solid $red;
	}

	.task {
		background-color: white;
		margin-bottom: 20px;
		height: 276px;
		box-shadow: 0 0 6px 3px rgba(225, 225, 225, .6);
	}

	.due {
		margin-bottom: 25px;
	}

	.date-stamp {
		color: $red;
	}

	.reward-failed {
		text-decoration: line-through;
	}

	.manage {
		margin-top: 5px;
		float: right;
		font-size: 1.1em;

		form {
			display: inline-block;
		}

		button {
			color: $grey;
		}

		.remove:hover {
			color: $red;
		}

		.edit:hover {
			color: $blue;
		}
	}

	.complete-chore {
		display: inline-block;
		float: left;
	}

	.no-chore-message {
		font-family: $handwritten;
		font-size: 2.5em;
		text-align: center;
		margin-top: 100px;
	}
/* ----------------------------------------------------------------
 *  ￼ New chore
 * ----------------------------------------------------------------
*/
	.add-chore {
		background-color: $lightBlue;
		border-radius: 3px;
	}

	// .main-header {
	// 	border-bottom: 1px solid #ddd;
	// 	margin-bottom: 20px;
	// }

	.btn-add {
		display: block;
	}

	.instructions {
    	counter-reset: li;
    	list-style: none;
    	margin-top: 0;

    	li {
    		margin-bottom: 10px;
    		position: relative;
    		font-size: 1.2em;
    		padding: 20px 30px 15px 32px;
    		display: block;
    	}

    	li:before {
    		content: counter(li);
			counter-increment: li;
			position: absolute;
			left: -30px;
			top: 50%;
			margin-top: -60px;
			font-size: 3em;
			color: $red;
			line-height: 2em;
    	}
	}

/* ----------------------------------------------------------------
 *  ￼ Account
 * ----------------------------------------------------------------
*/
	.awards-menu-item:after {
	    content: attr(data-count);
	    background-color: $orange;
	    padding: 3px;
	    width: 24px;
	    height: 24px;
	    border: 1px solid $grey;
	    text-align: center;
	    border-radius: 50%;
	    color: white;
	    font-size: .9em;
	    position: absolute;
	    top: 0;
	}

	.edit-account {
		float: left;
		margin-right: 10px;
	}

	.main-header h1 {
		float: left;
	}

	.user-nav {
		//float: none;
		margin-bottom: 10px;
		position: relative;
		padding-top: 7px;

		.active {
			background-color: #67C3E7;
			color: white !important;
		}
	}

	.userbox-inner {
		border: 1px solid #ddd;

		a {
			font-size: .9em;
		}

		.profile-pic {
			float: left;
		}
	}

	.userbox-item {
		display: inline-block;
		margin-left: 20px;

		p {
			margin: 0;
		}

	}

	.account-buttons {
		margin-top: 20px;
	}

	.stats-item {
		background-color: $orange;
		font-size: 1.1em;
		margin-right: 10px;
	    color: white;
	    padding: 5px 0;
	    position: relative;
	    width: 220px;

	    span {
	    	font-family: $bodyBold;
	    }

	    &:before, &:after {
	    	content: '';
	    	position: absolute;
	    	top: 0;
	    }

	    &:before {
	    	@include triangle(right, white, 16px);
	    	left: 0;
	    }

	    &:after {
	    	@include triangle(left, white, 16px);
	    	right: 0;
	    }
	}

	.prio-one {
		background-color: $green;
	}

	.prio-two {
		background-color: $blue;
	}

	.prio-three {
		background-color: $blueGrey;
	}

	.prio-four {
		background-color: #D8937D;
	}

	.prio-five {
		background-color: $red;
	}

	.badges-wrapper h3 {
		text-align: center;
		margin-top: 10px;
	}

	.badge-item {
		margin-bottom: 20px;
	}

	.badge {
		max-height: 170px;
		margin: 0 auto;
	}

	.badge-date {
	    text-align: center;
	    background-color: #395875;
	    width: 80%;
	    margin: 10px auto;
	    color: white;
	    padding: 5px 0;
	    position: relative;

	    &:before, &:after {
	    	content: '';
	    	position: absolute;
	    	top: 0;
	    }

	    &:before {
	    	@include triangle(right, white, 14px);
	    	left: 0;
	    }

	    &:after {
	    	@include triangle(left, white, 14px);
	    	right: 0;
	    }
	}
/* ----------------------------------------------------------------
 *  ￼ Footer
 * ----------------------------------------------------------------
*/
	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		border-top: 1px solid #ccc;
		width: 100%;
		height: 100px; // Ta bort senare
	}

